body {
    color: white;
    background-color: rgba(143, 69, 23, 0.856);
}

.navbar {
    font-size: 20px;
    height: 4em;
}

 #intro {
    background-image: url("../img/Intro.jpg");
    height: 600px;
    background-size: cover;
 }

 @media (min-width: 414px) {
    #intro{
        background-position: center center;
    
}

.divider {
    background-color: rgb(141, 123, 123);
    height: 8rem;
}

#about {
}

#quality {
    background-color:  rgba(156, 144, 137, 0.856)
}

#menu {
    background-image: url("../img/menu.jpg");
    height: 600px;
    background-position: bottom;
    background-size: cover;
  }
@media (min-width: 576px) {
    #menu {
        background-position: center center;
    }
}

.mask {
      height: 400px;
  }
